apiVersion: apps/v1
kind: Deployment
metadata:
  name: jpdesigns-site
  namespace: jpdesigns
spec:
  replicas: 3
  selector:
    matchLabels:
      app: jpdesigns-site
  template:
    metadata:
      labels:
        app: jpdesigns-site
    spec:
      containers:
        - name: jpdesigns-site
          image: repo.oplabs.us/gitlab/new-jp-designs:main-88 # {"$imagepolicy": "flux-system:jpdesigns-site-prod"}
          # resources:
          #   limits:
          #     memory: "128Mi"
          #     cpu: "500m"
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-db-secret
                  key: host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-db-secret
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-db-secret
                  key: password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-db-secret
                  key: database
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-db-secret
                  key: port
            - name: HCAPTCHA_SITEKEY
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: HCAPTCHA_SITEKEY
            - name: HCAPTCHA_SECRET
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: HCAPTCHA_SECRET
            - name: EMAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: EMAIL_HOST
            - name: EMAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: EMAIL_PORT
            - name: EMAIL_USER
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: EMAIL_USER
            - name: EMAIL_PASS
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: EMAIL_PASS
            - name: EMAIL_TO
              valueFrom:
                secretKeyRef:
                  name: jpdesigns-env
                  key: EMAIL_TO
            - name: PORT
              value: "8080"
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          volumeMounts:
            - name: varlog
              mountPath: /var/log/app
        - name: alert-sidecar
          image: repo.oplabs.us/gitlab/alert-sidecar:latest
          env:
            - name: DISCORD_WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: alert-sidecar-secret
                  key: discord-webhook-url
          volumeMounts:
            - name: varlog
              mountPath: /var/log/app
              readOnly: true
      volumes:
        - name: varlog
          emptyDir: {}
      imagePullSecrets:
        - name: regcred
