apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v3.9.2
          ports:
            - containerPort: 9000
          env:
            - name: DB_ENGINE
              value: postgres
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: mealie-db-secret
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mealie-db-secret
                  key: password
            - name: POSTGRES_SERVER
              valueFrom:
                secretKeyRef:
                  name: mealie-db-secret
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: mealie-db-secret
                  key: port
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: mealie-db-secret
                  key: database
            - name: BASE_URL
              value: https://mealie.oplabs.us
            - name: OIDC_PROVIDER_NAME
              value: OP Labs
            - name: OIDC_AUTH_ENABLED
              value: "true"
            - name: OIDC_SIGNUP_ENABLED
              value: "true"
            - name: OIDC_CONFIGURATION_URL
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: oidc-config-url
            - name: OIDC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: oidc-client-id
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: oidc-client-secret
            - name: OIDC_USER_GROUP
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: oidc-user-group
            - name: OIDC_ADMIN_GROUP
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: oidc-admin-group
            - name: SMTP_HOST
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-host
            - name: SMTP_PORT
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-port
            - name: SMTP_AUTH_STRATEGY
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-auth-strategy
            - name: SMTP_USER
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-user
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-password
            - name: SMTP_FROM_NAME
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-from-name
            - name: SMTP_FROM_EMAIL
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: smtp-user
          volumeMounts:
            - name: data
              mountPath: /app/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mealie-data
